{% include 'compressor/main.html' %}
{% load static %}

{% block content %}
<div class='main'> 
            <h1>Image Compressor</h1>            
            <div class="" id="container">
                <form method="post" action="" class="input-group form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div >
                        <label>Upload Your Image here:&ensp;&ensp;&ensp;</label>
                        
                        {{ form.image }}
                    </div>
                   
                    <div style="padding-block:30px;">
                        <label for="compression_level">Compression Level:&ensp;&ensp;&ensp;</label>
                        {{form.compression_level}}
                        <span id="compression_level_value">{{ form.compression_level.initial }}</span>
                    <div>
                        
                    <button class="btn btn-dark" type="submit" style='width:10vw; min-width:100px; margin-top:20px;' data-mdb-ripple-color="dark">
                        Compress
                    </button>
                </form>
            </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Update the value of the span dynamically when the range bar value changes
        $('input[type="range"]').on('input', function() {
            $('#compression_level_value').text($(this).val());
        });
    });
</script>
{% endblock content %}
